* {
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
    background-color: rgb(16, 16, 59);
}

.generatorL1 {
    border: 2px solid rgb(0, 0, 75);
    background-color: lightblue;
    width: 250px;
    text-align: left;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
}

.locked {
    background-color: rgb(30, 30, 53);
    border-color: rgb(0, 0, 75);
}

.generatorsL1-container {
    display: flex;
    width: 540px;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
}

#currency {
    margin: 40px;
    font-size: 2.5em;
    text-align: center;
    color: mintcream;
}

#currencyPS {
    margin: 20px;
    font-size: 1.5em;
    text-align: center;
    color: mintcream;
}

.TLocked {
    display: none;
}

#L1ResetButton {
    position: fixed;
    top: 60;
    left: 50;
}
